<form
  [formGroup]="loginForm"
  *ngIf="loginForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-3 justify-center items-center h-full"
>
  <h1 class="text-xl">Login</h1>
  <label for="email">
    <input
      type="text"
      name="email"
      class="rounded bg-white shadow-lg px-3 py-1"
    />
  </label>
  <label for="password">
    <input
      type="password"
      name="password"
      class="rounded bg-white shadow-lg px-3 py-1"
    />
  </label>
  <button
    type="submit"
    class="rounded bg-cyan-900 shadow-lg text-white self-center px-4 py-1"
  >
    Enviar
  </button>
</form>
